In [1]:
import numpy as np
import pandas as pd
import os
import glob
import re
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
mydir = "/Users/kaihu/Desktop/Spark_deployment/monitor_data/"

In [3]:
def rigth(s, amount):
    return s[-amount:]

def left(s, amount):
    return s[:amount]

filelist = list()
for i,j,k in os.walk(mydir):
    for x in k:
        if x.endswith(".csv") and x.startswith("slave_total_LR"):
            filelist.append(os.path.join(i, x))

In [4]:
df = list()
df_new = list()
order = list()
for file in filelist:
#     print(left(rigth(file,6),2).replace("l",""))
    order.append(left(rigth(file,6),2).replace("l",""))
    df = pd.read_csv(file, index_col=None)
    df_new.append(df)

In [5]:
df_result = pd.DataFrame()
mean_cpu = list()
for i in range(len(order)):
    mean_cpu.append(df_new[i].mean()["mean_cpu_usage"])
df_result["mach_size"] = list(map(int,order))
df_result["mean_cpu_usage"] = mean_cpu

In [6]:
df_result.sort_values(by=["mach_size"]).reset_index(drop=True)

   mach_size  mean_cpu_usage
0          0       39.549126
1          1       36.743974
2          2       53.911813
3          3       49.807410
4          4       50.356844
5          5       56.346748
6          6       59.408189

In [7]:
filelist

['/Users/kaihu/Desktop/Spark_deployment/monitor_data/2021-06-18_09:52:26_LR_data_original3/slave_total_LR_data_original3.csv',
 '/Users/kaihu/Desktop/Spark_deployment/monitor_data/2021-06-18_09:43:14_LR_data_original1/slave_total_LR_data_original1.csv',
 '/Users/kaihu/Desktop/Spark_deployment/monitor_data/2021-06-18_09:36:49_LR_data_original0/slave_total_LR_data_original0.csv',
 '/Users/kaihu/Desktop/Spark_deployment/monitor_data/2021-06-18_09:57:11_LR_data_original4/slave_total_LR_data_original4.csv',
 '/Users/kaihu/Desktop/Spark_deployment/monitor_data/2021-06-18_10:05:54_LR_data_original6/slave_total_LR_data_original6.csv',
 '/Users/kaihu/Desktop/Spark_deployment/monitor_data/2021-06-18_09:47:46_LR_data_original2/slave_total_LR_data_original2.csv',
 '/Users/kaihu/Desktop/Spark_deployment/monitor_data/2021-06-18_10:01:42_LR_data_original5/slave_total_LR_data_original5.csv']